.table {
  width: max(calc(100% - 2rem), 80rem);
  margin: 0 1rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem 0.5rem 0 0;
}

.table td,
.table th {
  padding: 1rem;
}

.id {
  width: 15%;
}

.nftName {
  width: 10%;
}

.description {
  width: 30%;
}

.attributes {
  width: 20%;
}

.status {
  width: 15%;
}

.dateClaimed {
  width: 10%;
}

tbody tr > td {
  color: var(--text-secondary);
  font-size: calc(1rem - 3px);
  font-weight: 500;
}

.theadTitle {
  font-weight: normal;
  font-size: calc(1rem - 2px);
  color: var(--text-primary);
  text-align: left;
}

.dateClaimedRow {
  text-align: right;
}