* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary-color: #282737;
  --secondary-color: #2F2E3E;
  --tertiary-color: #335DD5;
  --bg-color: #1A1925;

  --text-primary: #A8A3B3;
  --text-secondary: #ABA3B5;
  --text-tertiary: #726B84;

  --status-blue: #1646F2;
  --status-red: #D01A22;
  --status-green: #3F870F;

  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: white;
}