.textWrapper {
  padding: 0.30rem 0.75rem;
  font-size: 12px;
  border-radius: 4px;
  background-color: var(--secondary-color);
  width: max-content;
  white-space: nowrap;
  float: left;
  margin-right: 6px;
  position: relative;
}

.blue {
  background-color: var(--status-blue);
  color: white;
}

.red {
  background-color: var(--status-red);
  color: white;
}

.green {
  background-color: var(--status-green);
  color: white;
}

.tooltipWrapper {
  display: none;
}

.textWrapper:hover > .tooltipWrapper {
  display: block;
}